@import "~@edx/brand/paragon/fonts";
@import "~@edx/brand/paragon/variables";
@import "~@openedx/paragon/scss/core/core";
@import "~@edx/brand/paragon/overrides";

@import "sass/style";

// Sobrescribir fondos azules globales
body,
html {
  background-color: #ffffff !important;
  background-image: none !important;
}

#root,
#root > div {
  background-color: transparent !important;
  background-image: none !important;
}
